#Main ignores
.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
#Files
PedigreeSim.7z
PedigreeSim.jar
#Folders
research/PedigreeSim/
research/Plots/
research/test.R
research/output_inferredHaps/
research/inferred_haplotypes/
research/pop_simulations/HWE_datasets
devtest/devdatasets/
doc
Meta
inst/doc
vignettes/
man/
#Extensions
*.RDS
*.rds
*.rda
*test.R
#Exceptions
!vignettes/workshop_data.RDS
!vignettes/new_workshop_data.RDS

