#Main ignores
.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
#Files
PedigreeSim.7z
PedigreeSim.jar
research.7z
#Folders
research/
data-raw/
devtest/
doc
Meta
inst/doc
vignettes/
man/
#Extensions
*.RDS
*.rds
*.rda
*test.R
*genotypes.dat
*.7z
#Exceptions
!vignettes/workshop_data.RDS
!vignettes/new_workshop_data.RDS

